<%= simple_form_for(@file_upload) do |f| %>
  <%= f.error_notification %>

  <!--<div class="form-inputs">-->
    <%#= f.input :user_id %>


    <%= f.collection_radio_buttons(
                :file_type, [['1', 'Resume'],['2','cover letter'],['3','letter of recommendation']], :first, :last,:checked=> '2'
        ) do |b|
      b.label { b.radio_button + "    " + b.text.html_safe }
    end %>

    <%= f.input :file_path,:as=> :file,:label=>false %>
  <!--</div>-->

  <!--<div class="form-actions">-->
    <%= f.button :submit, "Upload",:class=>"btn btn-primary" %>
  <!--</div>-->
<% end %>
