<div class="row-fluid">
  <div class="span12">
    <%= simple_form_for(@personal_datum,:html => {:multipart => true}) do |f| %>
        <%= f.error_notification %>
  </div>
</div>
<div class="row-fluid">
  <div class="span3">
    <div class="row-fluid">
      <div class="span8">
        <div class="thumbnail">
          <% if  @personal_datum.photo.blank?  %>
              <img src="http://placehold.it/100x80" alt="">
          <% else %>
              <%= image_tag @personal_datum.photo.to_s %>
              <h4><%= current_user.first_name %></h4>
          <% end %>
        </div>
      </div>
    </div>
      <%= f.input :photo,:label=>false,:as=> :file %>
  </div>
  <div class="span5">
         <h4 align="left"> Update Profile</h4>
         <%= f.input :name,:label=>"User Name",:placeholder=>"User Name" %>
        <%= f.input :school,:label=>"School",:placeholder=>"School" %>
        <%= f.input :area_of_study,:label=>"Area of study",:placeholder=>"Area of Study" %>
        <%= f.input :email ,:label=>"email", :placeholder => 'email- user@domain.com' %>
        <%= f.input :phone,:label=>"Phone",:placeholder=>"Phone" %>
    </div>
  <div class="span4">
         <ul class="thumbnails">
            <li class="span12">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="">
              </div>
            </li>
          </ul>
           <%= f.input :video,:as=> :file,:label=>false %>
        </div>
</div>
<div class="row-fluid">
  <div class="span1">
      </div>
  <div class="span9">
         <%= f.input :about_me, :input_html => { :col=>20,:rows => 5 }  %>
        <%= f.input :experience, :input_html => { :rows => 5 } %>
          <%= f.button :submit, 'Save',:class=> "btn btn-primary pull-right" %>
      </div>
  <div class="span2">
</div>
  <% end %>
   </div>
