<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @interview.resume_id %>
</p>

<p>
  <b>Interview type:</b>
  <%= @interview.interview_type %>
</p>

<p>
  <b>Job:</b>
  <%= @interview.job_id %>
</p>


<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
