<div class="row-fluid">
  <div class="span9">

  <%= simple_form_for(@resume_personal_datum) do |f| %>
  <%= f.error_notification %>

  <h2> Name your resume</h2>
  <!--<div class="form-inputs">-->

    <%= f.input :resume_name %>
    <h2> Personal Info</h2>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :zip, :required => true %>
    <%= f.input :phone,:as=>'tel', :required => true %>

    <div class="row-fluid">
          <div class="span5">
            <%= f.input :linkedin_profile_path,:label=>false, :input_html => { :value => session[:profile_link]} %>
          </div>
          <div class="span7 moveLeft">
            <%=  link_to "In",linkedinconnecsecond_linkedin_details_path,:class=>"btn btn-primary" %>

          </div>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <%= f.input :facebook_profile_path,:label=>false %>

      </div>
      <div class="span7 moveLeft ">
        <%=  link_to "f","",:class=>"btn btn-primary" %>

      </div>
    </div>

  <!--</div>-->

  <!--<div class="form-actions">-->
        <%= f.button :submit, 'Next',:class=> "btn btn-primary pull-right" %>
  <!--</div>-->
<% end %>
</div>
    <div class="span3">

      <div class="dashboard-photo">
        <ul class="thumbnails">
          <li class="span12">
            <div class="thumbnail">

              <% if  @person.nil? %>
                  <img src="http://placehold.it/200x180" alt="">
              <%else %>

                  <%= image_tag (@person.photo.to_s) %>
              <% end %>
              <h4><%= current_user.first_name %></h4>

            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
