<h1>Listing resume_personal_data</h1>

<table>
  <tr>
    <th>Resume</th>
    <th>Resume name</th>
    <th>User photo</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Timezone</th>
    <th>Linkedin profile path</th>
    <th>Facebook profile path</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resume_personal_data.each do |resume_personal_datum| %>
  <tr>
    <td><%= resume_personal_datum.resume_id %></td>
    <td><%= resume_personal_datum.resume_name %></td>
    <td><%= resume_personal_datum.user_photo %></td>
    <td><%= resume_personal_datum.city %></td>
    <td><%= resume_personal_datum.state %></td>
    <td><%= resume_personal_datum.country %></td>
    <td><%= resume_personal_datum.zip %></td>
    <td><%= resume_personal_datum.phone %></td>
    <td><%= resume_personal_datum.timezone %></td>
    <td><%= resume_personal_datum.linkedin_profile_path %></td>
    <td><%= resume_personal_datum.facebook_profile_path %></td>
     <td><%= link_to 'Show', resume_personal_datum %></td>
    <td><%= link_to 'Edit', edit_resume_personal_datum_path(resume_personal_datum) %></td>
    <td><%= link_to 'Destroy', resume_personal_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resume personal datum', new_resume_personal_datum_path %>
