<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @resume_personal_datum.resume_id %>
</p>

<p>
  <b>Resume name:</b>
  <%= @resume_personal_datum.resume_name %>
</p>

<p>
  <b>User photo:</b>
  <%= @resume_personal_datum.user_photo %>
</p>

<p>
  <b>City:</b>
  <%= @resume_personal_datum.city %>
</p>

<p>
  <b>State:</b>
  <%= @resume_personal_datum.state %>
</p>

<p>
  <b>Country:</b>
  <%= @resume_personal_datum.country %>
</p>

<p>
  <b>Zip:</b>
  <%= @resume_personal_datum.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @resume_personal_datum.phone %>
</p>

<p>
  <b>Timezone:</b>
  <%= @resume_personal_datum.timezone %>
</p>

<p>
  <b>Linkedin profile path:</b>
  <%= @resume_personal_datum.linkedin_profile_path %>
</p>

<p>
  <b>Facebook profile path:</b>
  <%= @resume_personal_datum.facebook_profile_path %>
</p>

<%= link_to 'Edit', edit_resume_personal_datum_path(@resume_personal_datum) %> |
<%= link_to 'Back', resume_personal_data_path %>
