<div class="row-fluid">
  <div class="span9">

  <h3>Career Objectives</h3>
<%= simple_form_for(@objective) do |f| %>
  <%= f.error_notification %>

  <!--<div class="form-inputs">-->
    <%= f.input :objective, :input_html => { :rows => 5 } %>
    <%= f.input :area_of_interest, :collection =>  [['IT','1'] ,[ 'Telecome','2']] %>
    <%= f.input :job_type, :collection => [['developer','1'] ,[ 'Designer','2',]] %>
    <%= f.input :salary_range, :collection => [['below 2000','1',] ,['2000-3000','2',]] %>
  <!--</div>-->

  <!--<div class="form-actions">-->
    <%= f.button :submit, 'Next',:class=> "btn btn-primary pull-right" %>
  <!--</div>-->
<% end %>

  </div>
  <div class="span3">

    <div class="dashboard-photo">
      <ul class="thumbnails">
        <li class="span12">
          <div class="thumbnail">
            <% if  @person.nil? %>
            <%else %>
                <%= image_tag (@person.photo.to_s) %>
            <% end %>
            <h4><%= current_user.first_name %></h4>

          </div>
        </li>
      </ul>
    </div>

  </div>
</div>