<div class="row-fluid">
  <div class="span10">

  <h3>Career Objectives</h3>
<%= simple_form_for(@objective) do |f| %>
  <%= f.error_notification %>

  <!--<div class="form-inputs">-->
    <%= f.input :objective, :input_html => { :rows => 5 } %>
    <%= f.input :area_of_interest, :collection =>  [['IT','1'] ,[ 'Telecome','2']] %>
    <%= f.input :job_type, :collection => [['developer','1'] ,[ 'Designer','2',]] %>
    <%= f.input :salary_range, :collection => [['below 2000','1',] ,['2000-3000','2',]] %>
  <!--</div>-->

  <!--<div class="form-actions">-->
    <%= f.button :submit, 'Next',:class=> "btn btn-primary pull-right" %>
  <!--</div>-->
<% end %>

  </div>
  <div class="span2">

    <div class="dashboard-photo">
      <%=image_tag("profile-pic.png")%>
    </div>

  </div>
</div>