<div class="row-fluid">
  <div class="span10">
<h3>Skills</h3>
<%= simple_form_for(@skill) do |f| %>
  <%= f.error_notification %>
    <%= f.input :skill_name %>
    <%= f.input :skill_years,:collection => 0..25 %>
    <%= f.button :submit, 'Add Skill',:class=> "btn btn-primary" %>
  <% end %>
<%= link_to 'Next', new_language_path,:class => 'btn btn-primary pull-right' %>
  </div>
  <div class="span2">
  </div>
</div>