<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span8">
<h3>Resume Status*</h3>
<%= simple_form_for(@privacy) do |f| %>
  <%= f.error_notification %>

  <!--<div class="form-inputs">-->
    <!--<%#= f.input :user_id %>-->
    <!--<%#= f.input :resume_id %>-->
     <%= f.collection_radio_buttons(:privacy, [['0', "Searchable"],['1', 'Private']],:first, :last,:item_wrapper_tag=>'label',:item_wrapper_class=>'bigSize', :checked=> '0' ) do |b|
      b.label { b.radio_button + " " +b.text }
    end
    %>


  <!--</div>-->

  <!--<div class="form-actions">-->

    <%= f.button :submit, 'Save',:class=> "btn btn-primary" %>
  <!--</div>-->
<% end %>
</div>
<div class="span4">

  <ul>
    <ul>
      <li><%= link_to "My search preference",edit_search_preference_path(:user_id=> current_user.id),:class=>"btn-link" %> </li>
      <li><%= link_to "Time zone settings",edit_time_zone_path(:user_id=> current_user.id),:class=>"btn-link" %></li>
      <li><%= link_to "privacy settings",edit_privacy_path(:user_id=> current_user.id),:class=>"btn-link" %></li>
      <!--<li><%= link_to "Change Username",job_details_path,:class=>"btn-link" %></li>-->
      <!--<li><%= link_to "Reset password",new_user_password_path,:class=>"btn-link" %></li>-->
      <li> <%= link_to "Cancel Account",job_details_path,:class=>"btn-link" %></li>
    </ul>
  </ul>


</div>
</div>
