<div id="content">
  <div class="middle-c">
    <div class="dashboard-bg">
      <div class="dashboard-sticker5">    </div>
       <div class="row-fluid">
        <div class="span8">
            <%= render 'form' %>
        </div>
        <div class="span4">
        <ul>
        <li><%= link_to "My search preference",edit_search_preference_path(:user_id=>current_user.id),:class=>"btn-link" %> </li>
        <li><%= link_to "Time zone settings",edit_time_zone_path(:user_id=> current_user.id),:class=>"btn-link" %></li>
        <li><%= link_to "privacy settings",edit_privacy_path(:user_id=> current_user.id),:class=>"btn-link" %></li>
        <li> <%= link_to "Cancel Account",job_details_path,:class=>"btn-link" %></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
