<h1>Listing privacies</h1>

<table>
  <tr>
    <th>User</th>
    <th>Resume</th>
    <th>Privacy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @privacies.each do |privacy| %>
  <tr>
    <td><%= privacy.user_id %></td>
    <td><%= privacy.resume_id %></td>
    <td><%= privacy.privacy %></td>
    <td><%= link_to 'Show', privacy %></td>
    <td><%= link_to 'Edit', edit_privacy_path(privacy) %></td>
    <td><%= link_to 'Destroy', privacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privacy', new_privacy_path %>
