<h1>Listing search_preferences</h1>

<table>
  <tr>
    <th>User</th>
    <th>Category</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search_preferences.each do |search_preference| %>
  <tr>
    <td><%= search_preference.user_id %></td>
    <td><%= search_preference.category_id %></td>
    <td><%= search_preference.city %></td>
    <td><%= search_preference.state %></td>
    <td><%= search_preference.zipcode %></td>
    <td><%= link_to 'Show', search_preference %></td>
    <td><%= link_to 'Edit', edit_search_preference_path(search_preference) %></td>
    <td><%= link_to 'Destroy', search_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search preference', new_search_preference_path %>
