<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @search_preference.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @search_preference.category_id %>
</p>

<p>
  <b>City:</b>
  <%= @search_preference.city %>
</p>

<p>
  <b>State:</b>
  <%= @search_preference.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @search_preference.zipcode %>
</p>


<%= link_to 'Edit', edit_search_preference_path(@search_preference) %> |
<%= link_to 'Back', search_preferences_path %>
