<div class="row-fluid">
  <div class="span9">

  <h3>Employment History</h3>
<%= simple_form_for(@employment_history) do |f| %>
  <%= f.error_notification %>
    <%= f.input :company_name %>
    <%= f.input :start_date,:as => :date,:discard_day => true,:start_year => Date.today.year - 30,:end_year => Date.today.year-1,:order => [:month, :year] %>
    <%= f.input :end_date, :as => :date,:discard_day => true,:start_year => Date.today.year - 30,:end_year => Date.today.year,:order => [:month, :year] %>
    <%= f.input :job_title %>
    <%= f.input :job_description, :input_html => { :rows => 5 } %>
    <%= f.button :submit, 'Add',:class=> "btn btn-primary" %>
  <% end %>
    <%= link_to 'Next', new_education_path,:class => 'btn btn-primary pull-right' %>

  </div>
  <div class="span3">

    <div class="dashboard-photo">
      <ul class="thumbnails">
        <li class="span12">
          <div class="thumbnail">
            <% if  @person.nil? %>
            <%else %>
                <%= image_tag (@person.photo.to_s) %>
            <% end %>
            <h4><%= current_user.first_name %></h4>

          </div>
        </li>
      </ul>
    </div>

  </div>
</div>