<h1>Listing employment_histories</h1>

<table>
  <tr>
    <th>Resume</th>
    <th>Company name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Job title</th>
    <th>Job description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employment_histories.each do |employment_history| %>
  <tr>
    <td><%= employment_history.resume_id %></td>
    <td><%= employment_history.company_name %></td>
    <td><%= employment_history.start_date %></td>
    <td><%= employment_history.end_date %></td>
    <td><%= employment_history.job_title %></td>
    <td><%= employment_history.job_description %></td>
    <td><%= link_to 'Show', employment_history %></td>
    <td><%= link_to 'Edit', edit_employment_history_path(employment_history) %></td>
    <td><%= link_to 'Destroy', employment_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employment history', new_employment_history_path %>
