<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @employment_history.resume_id %>
</p>

<p>
  <b>Company name:</b>
  <%= @employment_history.company_name %>
</p>

<p>
  <b>Start date:</b>
  <%= @employment_history.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @employment_history.end_date %>
</p>

<p>
  <b>Job title:</b>
  <%= @employment_history.job_title %>
</p>

<p>
  <b>Job description:</b>
  <%= @employment_history.job_description %>
</p>


<%= link_to 'Edit', edit_employment_history_path(@employment_history) %> |
<%= link_to 'Back', employment_histories_path %>
