<h1>Listing educations</h1>

<table>
  <tr>
    <th>Resume</th>
    <th>School name</th>
    <th>School type</th>
    <th>State</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Course</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @educations.each do |education| %>
  <tr>
    <td><%= education.resume_id %></td>
    <td><%= education.school_name %></td>
    <td><%= education.school_type %></td>
    <td><%= education.state %></td>
    <td><%= education.country %></td>
    <td><%= education.start_date %></td>
    <td><%= education.end_date %></td>
    <td><%= education.course %></td>
    <td><%= education.level %></td>
    <td><%= link_to 'Show', education %></td>
    <td><%= link_to 'Edit', edit_education_path(education) %></td>
    <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Education', new_education_path %>
