<section class="content_body" xmlns="http://www.w3.org/1999/html">
  <article class="main_logo">
    <%=image_tag("main_logo2.png")%>

  </article>
  <article class="form_box2">
    <div align="center">
      <label class="connect"> Connect with:<a href="#"><%=image_tag("fb-signin-icon.png",:class=>"connect-icon") %></a><a href="#"><%=image_tag("lnkin-signin-icon.png",:class=>"connect-icon") %></a><a href="#"><%=image_tag("g-signin-icon.png",:class=>"connect-icon") %></a>    OR:</label>
    </div>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

        <p class="notice"><%= notice %></p>
        <%= f.error_notification %>
        <%= f.collection_radio_buttons(
                    :role, [['1', 'Student'],['2','Alumni'],['3','HR'],['4','Recruiter']], :first, :last,:checked=> '1', :collection_wrapper_tag=>'label',:collection_wrapper_class=>'bigSize'
            ) do |b|
          b.label(:class => 'my_class') { b.radio_button + "    " + b.text.html_safe }
        end %>
        <%= f.input :first_name, :required => true,:autofocus => true, :label=>"First Name" %>
        <%= f.input :second_name,  :label=>"Last Name" %>
        <%= f.input :email, :required => true, :label=>"email" %>
        <% if f.object.password_required? %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
         <% end %>


        <div class="row-fluid">
          <div class="span1">
            <%= f.input :policy,:required => true, :label=>false%>
          </div>
          <div class="span11">
            I accept the <strong>Privacy Policy</strong> and <strong> Terms and conditions.</strong>
            <div>
            </div>

            <%= f.button :submit, "Start searching",:class=> "btn btn-primary" %>

    <% end %>
    <div class="form_footer gap3">
      <%= render :partial => "users/shared/links" %>
    </div>

  </article>
</section>







<!--<h2>Sign john up</h2>-->

<!--<%#= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>-->
  <!--<%#= f.error_notification %>-->

  <!--<div class="form-inputs">-->
    <!--<%#= f.input :email, :required => true, :autofocus => true %>-->
    <!--<%#= f.input :password, :required => true %>-->
    <!--<%#= f.input :password_confirmation, :required => true %>-->
  <!--</div>-->

  <!--<div class="form-actions">-->
    <!--<%#= f.button :submit, "Sign up" %>-->
  <!--</div>-->
<!--<%# end %>-->

<!--<%#= render "devise/shared/links" %>-->
